{% extends "base.html" %} {% block body %}
<div class="flex flex-col items-center justify-center py-12 bg-white shadow-inner"></div>
<div class="container w-11/12 md:max-w-6xl mx-auto my-10">
  <div>
    <form action="/cart/order" method="post" class="flex">
      <div class="item w-full">
        <div class="address-main bg-gray-100 w-full p-4 rounded-lg shadow-md">
          <div class="address-title my-4 px-4">Shipping Address</div>
          <div class="address-body border-t my-2 px-4">
            <div>
              <div class="address mt-5 opacity-70">
                <label for="shipping">
                  <input type="radio" name="shipping" id="shipping" class="hidden" disabled />
                  <div class="label-checked:border-lime border-2 rounded-lg p-2 select-none">
                    <div class="label-title px-2">
                      <span class="font-semibold font-poppins">Haziq Izzat</span>
                      <span class="font-light text-sm font-poppins">(+60) 104232036</span>
                    </div>
                    <div class="label-title px-2">
                      <span class="text-sm">No 4, Jalan Hasta U19/17A Pinggiran Sungai Buloh, Petaling Jaya, 40160 Selangor</span>
                    </div>
                  </div>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="payment-method bg-gray-100 w-full p-4 rounded-lg mt-4 shadow-md">
          <div class="payment-title my-4 px-4">Select Payments Method</div>
          <div class="payment-body border-t my-2 px-4">
            <div class="grid grid-cols-3 gap-2 mt-5">
              <div class="col-span-1">
                <label for="visa">
                  <input checked type="radio" name="payment" id="visa" class="hidden" disabled />
                  <div class="label-checked:border-lime flex items-center justify-between border-2 rounded-lg p-2 select-none cursor-pointer opacity-60 transition duration-300">
                    <div class="visa-icons px-2">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="42px" height="42px">
                        <path fill="#1565C0" d="M45,35c0,2.209-1.791,4-4,4H7c-2.209,0-4-1.791-4-4V13c0-2.209,1.791-4,4-4h34c2.209,0,4,1.791,4,4V35z" />
                        <path
                          fill="#FFF"
                          d="M15.186 19l-2.626 7.832c0 0-.667-3.313-.733-3.729-1.495-3.411-3.701-3.221-3.701-3.221L10.726 30v-.002h3.161L18.258 19H15.186zM17.689 30L20.56 30 22.296 19 19.389 19zM38.008 19h-3.021l-4.71 11h2.852l.588-1.571h3.596L37.619 30h2.613L38.008 19zM34.513 26.328l1.563-4.157.818 4.157H34.513zM26.369 22.206c0-.606.498-1.057 1.926-1.057.928 0 1.991.674 1.991.674l.466-2.309c0 0-1.358-.515-2.691-.515-3.019 0-4.576 1.444-4.576 3.272 0 3.306 3.979 2.853 3.979 4.551 0 .291-.231.964-1.888.964-1.662 0-2.759-.609-2.759-.609l-.495 2.216c0 0 1.063.606 3.117.606 2.059 0 4.915-1.54 4.915-3.752C30.354 23.586 26.369 23.394 26.369 22.206z"
                        />
                        <path fill="#FFC107" d="M12.212,24.945l-0.966-4.748c0,0-0.437-1.029-1.573-1.029c-1.136,0-4.44,0-4.44,0S10.894,20.84,12.212,24.945z" />
                      </svg>
                    </div>
                    <div class="label-title w-full">
                      <div class="font-semibold text-sm p-2">Credit/Debit Card</div>
                      <div class="desc text-xs border-t-2 p-2">Tap to use</div>
                    </div>
                  </div>
                </label>
              </div>
              <div class="col-span-1">
                <label for="dine">
                  <input checked type="radio" name="payment" id="dine" class="hidden" />
                  <div class="label-checked:border-lime flex items-center justify-between border-2 rounded-lg p-2 select-none cursor-pointer hover:border-lime transition duration-300 delay-100">
                    <div class="visa-icons px-2">
                      <img src="https://img.icons8.com/ios/42/000000/restaurant.png" />
                    </div>
                    <div class="label-title w-full">
                      <div class="font-semibold text-sm p-2">Dine In</div>
                      <div class="desc text-xs border-t-2 p-2">Tap to use</div>
                    </div>
                  </div>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ml-4 h-full w-2/5 font-mono">
        <div class="bg-gray-100">
          <div class="p-3 font-mono shadow-md">
            <div class="title my-5 font-semibold">Items</div>
            <div class="p-2 border-t-2 text-sm">
              {% for item in data %} {% for value in item.product %}
              <table class="table-auto w-full">
                <tbody>
                  <tr>
                    <input type="hidden" name="product_id" value="{{ item.id }}" />
                    <input type="hidden" name="code_product" value="{{ item.code_product }}" />
                    <td class="py-2">{{ value.product_name }} <span class="text-xs">({{ item.quantity }}x)</span></td>
                    <td class="w-20 py-2 text-right">RM {{ item.total_price }}</td>
                  </tr>
                </tbody>
              </table>
              {% endfor %} {% endfor %}
            </div>
          </div>
        </div>
        <div class="summary bg-gray-100 p-3 font-mono shadow-md mt-4">
          <div class="title my-5 font-semibold">SUMMARY</div>
          <div class="body border-t-2 pt-2">
            <div class="flex justify-between text-sm py-2 px-1">
              <div class="font-light">Subtotal</div>
              <div class="font-light">RM {{ total[0].tot }}</div>
            </div>
            <div class="flex justify-between text-sm py-2 px-1 border-t-2">
              <div class="font-light">Shipping</div>
              <div class="font-light">RM 0.00</div>
            </div>
            <div class="flex justify-between text-sm py-2 px-1 border-t-2">
              <div class="font-light">Tax</div>
              <div class="font-light">-</div>
            </div>
            <div class="flex justify-between text-sm py-4 border-t-2">
              <div class="font-semibold">TOTAL</div>
              <div class="font-semibold">RM {{ total[0].tot }}</div>
            </div>
          </div>
          <div class="footer flex justify-center border-t-2 mb-4">
            <button class="bg-black-100 text-white text-center w-full p-4 rounded-md text-sm font-mono hover:bg-opacity-80 transition duration-300">PLACE ORDER</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
