{% extends 'base.html' %}
{% block body %}
	<div class="flex flex-col items-center justify-center py-12 bg-white shadow-inner"></div>
	<div class="flex container w-11/12 md:max-w-6xl mx-auto my-10">
		<div>
			<div>
				<!-- Dropdown toggle button -->
				<div class="flex items-center p-2 rounded-md">
					<p class="mr-4 border-b-2 w-full pb-2">
						<i class="fa fa-user" aria-hidden="true"></i>
						My Profile
					</p>
				</div>
				<!-- Dropdown list -->
				<div class="rounded-md">
					<a href="/profile" class="block px-4 text-sm text-gray-400 hover:text-gray-500">
						Profile
					</a>
					<a href="#" class="block px-4 text-sm text-gray-400 hover:text-gray-500">
						Addresses
					</a>
					<a href="profile/password" class="block px-4 text-sm text-gray-400 hover:text-gray-500">
						Change Password
					</a>
				</div>
			</div>
			<div>
				<!-- Dropdown toggle button -->
				<div class="flex items-center p-2 rounded-md">
					<p class="mr-4">My Purchases
					</p>
				</div>
			</div>
		</div>
		<div class="w-10/12 shadow bg-gray-50 p-3">
			<div class="border-b-2 border-fuchsia-600 w-full">Change Password
				<p class="text-xs mb-2">Manage and protect your account</p>
			</div>
			<div class="w-6/12 p-5 bg-gray-50">
				<div class="profile m-3 p-3">
					<form action="/profile/user/password/{{ data.id }}" method="post">
						<div class="flex justify-between mb-6 items-center">
							<p class="text-gray-500 w-full">
								Current Password:</p>
							<input id="name" type="password" name="current_password" class="email-form w-full py-2 h-14 border-b-2 border-gray-400 focus:border-cg-1 text-gray-600 placeholder-gray-400 outline-none" required/>
							<?xml version="1.0" encoding="utf-8"?>
						</div>
						<div class="flex justify-between mb-6 items-center">
							<p class="text-gray-500 w-full">
								New Password:</p>
							<input id="name" type="password" name="new_password" class="email-form w-full py-2 h-14 border-b-2 border-gray-400 focus:border-cg-1 text-gray-600 placeholder-gray-400 outline-none" required/>
							<?xml version="1.0" encoding="utf-8"?>
						</div>
						<div class="flex justify-between mb-6 items-center">
							<p class="text-gray-500 w-full">
								Confirm Password:</p>
							<input id="name" type="password" name="confirm_password" class="email-form w-full py-2 h-14 border-b-2 border-gray-400 focus:border-cg-1 text-gray-600 placeholder-gray-400 outline-none" required/>
							<?xml version="1.0" encoding="utf-8"?>
						</div>
						<button class="bg-gray-700 hover:bg-lime cursor-pointer text-white w-full font-normal py-4 px-4 focus:outline-none focus:shadow-outline prevent-default transition duration-300">Save Changes</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}
