{% extends "base.html" %} {% block body %}
<div class="flex flex-col items-center justify-center mt-24 py-10 bg-gray-200 shadow-inner">
  <div class="font-mono">Our Drink</div>
  <div class="text-sm font-mono">Home / Our Drink</div>
</div>
<div class="container w-11/12 md:max-w-6xl mx-auto my-10">
  <div class="grid grid-cols-3 gap-5">
    {% for items in item %}
    <div class="col-span-1 shadow-lg">
      <div class="items-product flex">
        <div class="items-left flex items-center justify-center h-48 w-44 bg-cover bg-center"><img src="{{ items.images }}" alt="1" width="115" /></div>
        <div class="items-right items-center">
          <div class="header mt-4 mb-4">
            <a href="/ourdrink/{{ items.id }}">{{ items.product_name }}</a>
          </div>
          <div class="body mb-5">{{ items.penerangan }}</div>
          <div class="footer flex justify-between w-44">
            <div class="items-price">RM {{ items.price }}</div>
            <div class="items-btn">
              <form action="/cart/add" method="post" id="add-product">
                <input type="hidden" name="id" value="{{ items.id }}" />
                <input id="prod" type="hidden" name="code_product" data-item-id="{{ items.id }}" data-code="{{ items.code_product }}" value="{{ items.code_product }}" />
                <input type="hidden" name="price" id="price" value="{{ items.price }}" />
                {% if user %}
                <button type="submit" id="cart">
                  <svg class="fill-current hover:text-lime cursor cursor-pointer" xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 0 48 48" width="26">
                    <path d="M0 0h48v48H0z" fill="none" />
                    <g id="Shopicon">
                      <polygon points="37.721,30 43.265,13.368 41.367,12.735 36.279,28 17.721,28 10.721,7 5,7 5,9 9.279,9 15.929,28.948 11.461,39 39,39 39,37 14.539,37 17.65,30" />
                      <circle cx="20" cy="42" r="2" />
                      <circle cx="32" cy="42" r="2" />
                      <polygon points="26,5 26,11 20,11 20,13 26,13 26,19 28,19 28,13 34,13 34,11 28,11 28,5 	" />
                    </g>
                  </svg></button
                >{% else %}
                <a class="login-open">
                  <svg class="fill-current hover:text-lime cursor cursor-pointer" xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 0 48 48" width="26">
                    <path d="M0 0h48v48H0z" fill="none" />
                    <g id="Shopicon">
                      <polygon points="37.721,30 43.265,13.368 41.367,12.735 36.279,28 17.721,28 10.721,7 5,7 5,9 9.279,9 15.929,28.948 11.461,39 39,39 39,37 14.539,37 17.65,30" />
                      <circle cx="20" cy="42" r="2" />
                      <circle cx="32" cy="42" r="2" />
                      <polygon points="26,5 26,11 20,11 20,13 26,13 26,19 28,19 28,13 34,13 34,11 28,11 28,5 	" />
                    </g>
                  </svg>
                </a>
                {% endif %}
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
